*{
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

.navbar-with-logo {
border: 2px solid black;
  background-color: rgba(255, 255, 255, 0.95);
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: white;
  border-style: none;
}

.logohead {
  /* float: left; */
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  float: right;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
}

.nav-links li {
  padding: 14px 20px;
  justify-content: space-around;
}

.nav-links a {
  color: white;
  text-decoration: none
}