*{
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

.navbar-with-logo {
  background-color: #4CAF50;
  overflow: hidden;
  padding: 10px 20px;
}

.logohead {
  float: left;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  float: right;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
}

.nav-links li {
  padding: 14px 20px;
  justify-content: space-around;
}

.nav-links a {
  color: white;
  text-decoration: none
}