*{
  margin: 0;
  padding: 0;
}


.after-navbar {
  height: 30vw; /* Adjust this value to match the height of your navbar */
  width: 100%;
  background-color: black; /* Optional: Add a background color to visually separate the space */
  border: 2px solid #e0e0e0; /* Optional: Add a border to visually separate the space */
}